<ion-header>
  <ion-toolbar>
    <ion-title>Mis Rutas</ion-title>
    <ion-back-button
      slot="start"
      defaultHref="/rutas"
      (click)="volver()"
    ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Refresher para deslizar hacia abajo -->
  <ion-refresher slot="fixed" (ionRefresh)="cargarDatosIniciales($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="bubbles"
      pullingText="Desliza para actualizar"
      refreshingText="Actualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <!-- Pendientes -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Solicitudes Pendientes</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let solicitud of solicitudesPendientes">
      <div class="solicitud-container">
        <div class="solicitud-info">
          <p><strong>ID Solicitud:</strong> {{ solicitud.id_solicitud }}</p>
          <p><strong>Lote:</strong> {{ solicitud.lote?.nombre_lote }}</p>
          <p>
            <strong>Cliente:</strong> {{ solicitud.cliente?.nombre_completo }}
          </p>
          <p><strong>Dirección:</strong> {{ solicitud.cliente?.direccion }}</p>
        </div>
        <button class="boton-derecha" (click)="empezarRuta(solicitud)">
          <img
            src="https://cdn-icons-png.flaticon.com/128/3069/3069242.png"
            class="icon-rutas"
          />
        </button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- En Proceso -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Solicitudes en Proceso</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let solicitud of solicitudesAprobadas">
      <div class="solicitud-container">
        <div class="solicitud-info">
          <p><strong>ID Solicitud:</strong> {{ solicitud.id_solicitud }}</p>
          <p><strong>Lote:</strong> {{ solicitud.lote?.nombre_lote }}</p>
          <p>
            <strong>Cliente:</strong> {{ solicitud.cliente?.nombre_completo }}
          </p>
          <p><strong>Dirección:</strong> {{ solicitud.cliente?.direccion }}</p>
        </div>
        <!-- Botón para continuar la ruta -->
        <button class="boton-derecha" (click)="seguirRuta(solicitud)">
          <img
            src="https://cdn-icons-png.flaticon.com/128/11137/11137806.png"
            class="icon-rutas"
          />
        </button>
        <button
          class="boton-derecha"
          (click)="abrirEnGoogleMaps(clienteSeleccionado?.cliente.direccion)"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/1527/1527779.png"
            class="icon-cancelar"
            alt="Google Maps"
          />
        </button>
        <!-- Botón para cancelar la entrega -->
        <button class="boton-derecha" (click)="cancelarPedido(solicitud)">
          <img
            src="https://cdn-icons-png.flaticon.com/128/5974/5974771.png"
            class="icon-cancelar"
          />
        </button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Completadas -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Solicitudes Completadas</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let solicitud of solicitudesCompletadas">
      <div class="solicitud-container">
        <div class="solicitud-info">
          <p><strong>ID Solicitud:</strong> {{ solicitud.id_solicitud }}</p>
          <p><strong>Lote:</strong> {{ solicitud.lote?.nombre_lote }}</p>
          <p>
            <strong>Cliente:</strong> {{ solicitud.cliente?.nombre_completo }}
          </p>
          <p><strong>Dirección:</strong> {{ solicitud.cliente?.direccion }}</p>
        </div>
        <button class="boton-derecha">
          <img
            src="https://cdn-icons-png.flaticon.com/128/9431/9431243.png"
            class="icon-rutas"
          />
        </button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Canceladas -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Solicitudes Canceladas</ion-card-title>
    </ion-card-header>
    <ion-card-content
      *ngFor="let solicitud of solicitudesCanceladas"
      class="solicitud-card"
    >
      <div class="solicitud-container">
        <div class="solicitud-info">
          <p><strong>ID Solicitud:</strong> {{ solicitud.id_solicitud }}</p>
          <p><strong>Lote:</strong> {{ solicitud.lote?.nombre_lote }}</p>
          <p>
            <strong>Cliente:</strong> {{ solicitud.cliente?.nombre_completo }}
          </p>
          <p><strong>Dirección:</strong> {{ solicitud.cliente?.direccion }}</p>
        </div>
        <div class="solicitud-actions">
          <button class="boton-derecha" (click)="devolverPedido(solicitud)">
            <img
              src="https://cdn-icons-png.flaticon.com/128/15254/15254115.png"
              class="icon-rutas"
            />
          </button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
