<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registroForm" (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="correo_us"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input type="text" formControlName="nombre_completo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="contrasena_us"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="tel" formControlName="telefono"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox formControlName="acepta_contacto"></ion-checkbox>
      <ion-label>Acepto que me contacten por SMS y WhatsApp.</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox formControlName="acepta_terminos"></ion-checkbox>
      <ion-label>Acepto los Términos y Condiciones.</ion-label>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="registroForm.invalid">Crear Cuenta</ion-button>
    <ion-button expand="full" fill="outline" color="primary" (click)="volver()">Volver</ion-button>
  </form>
</ion-content>
