<ion-header>
  <ion-toolbar>
    <ion-title>Gestionar Lote</ion-title>
    <ion-back-button
      slot="start"
      defaultHref="/gestionar-lote"
      (click)="volver()"
    >
    </ion-back-button>
    <ion-buttons slot="end">
      <!-- Botón para guardar el lote -->
      <ion-button
        (click)="guardarLote()"
        [disabled]="!lote.nombre_lote || !lote.id_cliente || loteProductos.length === 0"
      >
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
      <!-- Botón para ver los lotes creados -->
      <ion-button (click)="verLotes()">
        <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Formulario para crear el lote -->
  <ion-item>
    <ion-label position="floating">Nombre del Lote</ion-label>
    <ion-input [(ngModel)]="lote.nombre_lote" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción del Lote</ion-label>
    <ion-input [(ngModel)]="lote.descripcion_lote"></ion-input>
  </ion-item>

  <!-- Selección del cliente -->
  <ion-item>
    <ion-label>Cliente</ion-label>
    <ion-select
      [(ngModel)]="clienteSeleccionado"
      (ionChange)="seleccionarCliente($event.detail.value)"

      >
      <ion-select-option *ngFor="let cliente of clientes" [value]="cliente">
        {{ cliente.nombre_completo }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Selección del producto -->
  <ion-item>
    <ion-label>Producto</ion-label>
    <ion-select
      [(ngModel)]="productoSeleccionado"
      (ionChange)="seleccionarProducto($event.detail.value)"
    >
      <ion-select-option *ngFor="let producto of productos" [value]="producto">
        {{ producto.nombre_producto }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Mostrar cantidad disponible -->
  <ion-item *ngIf="productoSeleccionado">
    <ion-label color="medium"
      >Cantidad disponible: {{ cantidadDisponible }}</ion-label
    >
  </ion-item>

  <!-- Cantidad del producto -->
  <ion-item>
    <ion-label position="floating">Cantidad</ion-label>
    <ion-input
      type="number"
      [(ngModel)]="cantidadSeleccionada"
      [max]="productoSeleccionado?.inventario?.cantidad_disponible || 0"
      min="1"
    ></ion-input>
  </ion-item>

  <!-- Botón para agregar producto al lote -->
  <ion-button
    expand="block"
    [disabled]="!productoSeleccionado || cantidadSeleccionada <= 0 || (productoSeleccionado.inventario.cantidad_disponible && cantidadSeleccionada > productoSeleccionado.inventario.cantidad_disponible)"
    (click)="agregarProducto()"
  >
    Agregar Producto
  </ion-button>

  <!-- Lista de productos agregados al lote -->
  <ion-list>
    <ion-item *ngFor="let loteProducto of loteProductos">
      <ion-label>
        <h2>{{ loteProducto.id_producto.nombre_producto }}</h2>
        <p>Cantidad: {{ loteProducto.cantidad }}</p>
        <p>
          Precio Total: {{ loteProducto.id_producto.precio_prod *
          loteProducto.cantidad | currency }}
        </p>
      </ion-label>
      <ion-button
        fill="clear"
        color="danger"
        (click)="eliminarProducto(loteProducto)"
      >
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Precio total del lote -->
  <ion-item>
    <ion-label><strong>Precio Total del Lote:</strong></ion-label>
    <ion-note slot="end">{{ lote.precio_lote | currency }}</ion-note>
  </ion-item>
</ion-content>
