<ion-header>
  <ion-toolbar>
    <ion-title>PYME's GPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="login-content">
  <div class="logo-container">
    <img src="assets/img/PYME-LOGO.png" alt="PYME's GPS Logo" class="logo-img" />
    <h1>PYME's GPS</h1>
    <p class="context-text">Optimiza la logística y gestión de tus PYMEs con nuestra aplicación.</p>
  </div>

  <ion-label position="floating">Nombre de Usuario</ion-label>
  <ion-item class="input-item">
    <ion-input type="text" [(ngModel)]="username" required></ion-input>
  </ion-item>


  <ion-label position="floating">Contraseña</ion-label>
  <ion-item class="input-item">
    <ion-input [type]="passwordType" [(ngModel)]="password" required></ion-input>
    <ion-icon slot="end" [name]="passwordIcon" (click)="togglePassword()"></ion-icon>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="login()" class="login-btn">
    INICIAR SESIÓN
  </ion-button>

  <ion-button expand="full" fill="clear" color="dark" (click)="irARegistroCliente()">
    CREAR CUENTA CLIENTE
  </ion-button>

  <ion-button expand="full" fill="clear" color="dark" (click)="irARegistroEmprendedor()">
    CREAR CUENTA EMPRENDEDOR
  </ion-button>

  <ion-button expand="full" fill="clear" color="dark" (click)="irAContexto()">
    ¿QUÉ ES PYMESGPS?
  </ion-button>
</ion-content>
