<ion-header>
  <ion-toolbar>
    <ion-title>PYME's GPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-img src="assets/img/PYME-LOGO.png" alt="Logo" class="logo-img"></ion-img>
        <h2 style="margin-top: 10px;">PYME's GPS</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="correo_us"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="contrasena_us"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button>
  </form>

  <ion-button expand="full" class="transparent" (click)="irARegistroCliente()">Crear Cuenta Cliente</ion-button>
  <ion-button expand="full" class="transparent" (click)="irARegistroEmprendedor()">Crear Cuenta Emprendedor</ion-button>
</ion-content>
