<ion-header>                       <!-- comentario -->
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">   <!--indica que los botones aparecerán al final (a la derecha) de la barra de herramientas.-->
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  <!-- agrega un espacio alrededor del contenido para que no esté pegado a los bordes de la pantalla.-->
  <div class="modal-content">    <!--agrupa el contenido que aparecerá en el modal -->
    <h2>¡Hola!</h2>
    <p>Bienvenido a nuestra aplicación. Esperamos que disfrutes de tu experiencia.</p>
  </div>
</ion-content>
