<ion-header>
  <ion-toolbar>
    <ion-title>Descubre PYMEsGPS</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="volver()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué es PYMEsGPS?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Optimiza tu Negocio</h2>
      <p>
        PYMESGPS es una aplicación móvil diseñada para ayudar a emprendedores y pequeñas empresas a gestionar sus productos y operaciones de manera más eficiente. Con nuestra app, puedes:
      </p>
      <ul>
        <li>Realizar un seguimiento en tiempo real de tus productos usando GPS.</li>
        <li>Actualizar y verificar inventarios de manera rápida con la cámara de tu dispositivo.</li>
        <li>Gestionar tus operaciones logísticas de forma centralizada.</li>
      </ul>

      <h2>Beneficios Clave</h2>
      <ul>
        <li><strong>Rastreo en Tiempo Real:</strong> Mantén un ojo en la ubicación actual de tus productos.</li>
        <li><strong>Actualización de Inventario:</strong> Escanea códigos de barras para mantener tu inventario al día.</li>
        <li><strong>Gestión Eficiente:</strong> Accede a toda la información relevante de tu negocio desde un solo lugar.</li>
      </ul>

      <h2>¿Cómo Funciona?</h2>
      <p>
        Simplemente regístrate, configura tus productos y empieza a utilizar las funciones de GPS y cámara para gestionar tu inventario y operaciones diarias. ¡Es así de fácil!
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
