<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido a PYMEsGPS</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeMenu()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button (click)="goToProfile()">Perfil</ion-item>
      <ion-item button (click)="logout()">Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" class="ion-padding">
  <!-- Mensaje de bienvenida -->
  <ng-container *ngIf="usuario">
    <h2>Bienvenido, {{ usuario.nombre_completo }}!</h2>

    <!-- Opciones basadas en el rol del usuario -->
    <div *ngIf="usuario.rol.nombre_rol === 'admin'">
      <p>Acciones para administradores</p>
      <!-- Agrega acciones exclusivas del administrador  -->
    </div>
    <div *ngIf="usuario.rol.nombre_rol === 'emprendedor'">
      <p>Acciones para emprendedores</p>
      <!-- Agrega acciones exclusivas del emprendedor  -->
    </div>
    <div *ngIf="usuario.rol.nombre_rol === 'cliente'">
      <p>Acciones para clientes</p>
      <!-- Agrega acciones exclusivas del cliente  -->
    </div>
    <div *ngIf="usuario.rol.nombre_rol === 'repartidor'">
      <p>Acciones para repartidores</p>
      <!-- Agrega acciones exclusivas del repartidor  -->
    </div>
  </ng-container>

  <!-- Enlace a la página de contexto -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Conoce más sobre PYMEsGPS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Descubre más sobre cómo PYMEsGPS puede ayudarte a optimizar las operaciones de tu empresa.</p>
      <ion-button [routerLink]="['/contexto']">Ir a Contexto del Proyecto</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
