<ion-header>
  <ion-toolbar>
    <ion-title>Mapa de Ruta</ion-title>
    <ion-back-button slot="start" defaultHref="/mapa" (click)="volver()"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map" style="width: 100%; height: 100%"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <p>
      <ion-fab-button
        class="google-maps-button"
        (click)="abrirEnGoogleMaps(clienteSeleccionado?.cliente.direccion)"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/128/1527/1527779.png"
          class="google-maps-icon"
          alt="Google Maps"
        />
      </ion-fab-button>
    </p>
    <p>
      <ion-fab-button (click)="centrarMapaEnRepartidor()">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
    </p>
  </ion-fab>

  <!-- Card que se muestra al hacer clic en un marcador -->
  <ion-card class="pedido-card" *ngIf="clienteSeleccionado">
    <ion-card-header>
      <ion-card-title
        >{{ clienteSeleccionado?.cliente.nombre_completo }}</ion-card-title
      >
      <ion-card-subtitle>
        {{ clienteSeleccionado?.cliente.direccion }}, {{
        clienteSeleccionado?.cliente.comuna }}, {{
        clienteSeleccionado?.cliente.region }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="telefono-content">
        <p>
          <strong>Teléfono:</strong>
          <ion-button
            fill="clear"
            color="primary"
            (click)="llamarTelefono(clienteSeleccionado?.cliente.telefono)"
          >
            <ion-icon name="call"></ion-icon>
            {{ clienteSeleccionado?.cliente.telefono }}
          </ion-button>
        </p>
        <button
          class="google-maps-button"
          (click)="abrirEnGoogleMaps(clienteSeleccionado?.cliente.direccion)"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/1527/1527779.png"
            class="google-maps-icon"
            alt="Google Maps"
          />
        </button>
      </div>

      <p>
        <strong>ID Solicitud:</strong> {{ clienteSeleccionado?.id_solicitud }}
      </p>
    </ion-card-content>

    <div class="botones">
      <ion-button
        class="entregar-pedido"
        expand="block"
        color="primary"
        (click)="entregarPedido(clienteSeleccionado)"
      >
        Entregar Pedido
      </ion-button>
    </div>
  </ion-card>
</ion-content>
