<ion-header>
  <ion-toolbar>
    <ion-title>Descubre PYMEsGPS</ion-title>
    <ion-buttons slot="start">
      <!-- Botón Volver -->
      <ion-back-button  (click)="volver()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="context-card">
    <ion-card-header>
      <ion-card-title>¿Qué es PYMEsGPS?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-icon name="compass-outline" class="context-icon"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <h2>Optimiza tu Negocio</h2>
            <p>
              PYMESGPS es una aplicación diseñada para ayudar a emprendedores y PYMEs a gestionar sus productos y operaciones de manera eficiente. Con nuestra app, puedes:
            </p>
            <ul>
              <li>Rastrear productos en tiempo real con GPS.</li>
              <li>Actualizar inventarios con tu dispositivo.</li>
              <li>Gestionar operaciones logísticas desde un solo lugar.</li>
            </ul>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <h2>Beneficios Clave</h2>
            <ul>
              <li><strong>Rastreo en Tiempo Real:</strong> Observa la ubicación de tus productos en todo momento.</li>
              <li><strong>Actualización de Inventario:</strong> Mantén el inventario al día.</li>
              <li><strong>Gestión Centralizada:</strong> Toda la información relevante en un solo lugar.</li>
            </ul>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <h2>¿Cómo Funciona?</h2>
            <p>
              Regístrate, configura tus productos y empieza a utilizar las funciones de GPS y cámara para gestionar tu inventario y operaciones diarias. ¡Es muy sencillo!
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
