<!-- perfil.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="volver()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mi Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nombre:</strong> {{ usuario?.nombre_completo }}</p>
      <p><strong>Rol:</strong> {{ usuario?.nombre_rol }}</p>
      <ion-button expand="full" (click)="logout()">Cerrar sesión</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
