<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="volver()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mi Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="emprendedor"><strong>Nombre:</strong> {{ emprendedor?.nombre_completo }}</p>
      <p *ngIf="cliente"><strong>Nombre:</strong> {{ cliente?.nombre_completo }}</p>
      <p *ngIf="repartidor"><strong>Nombre:</strong> {{ repartidor?.nombre_completo }}</p>
      <p *ngIf="admin"><strong>Nombre:</strong> {{ admin?.nombre_completo }}</p>
      
      <p><strong>Rol:</strong> 
        <span *ngIf="emprendedor"> Emprendedor</span>
        <span *ngIf="cliente"> Cliente</span>
        <span *ngIf="repartidor"> Repartidor</span>
        <span *ngIf="admin"> Administrador</span>
      </p>
      <ion-button expand="full" (click)="logout()">Cerrar sesión</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
