# Archivos temporales y logs
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.log
log.txt
.sourcemaps
.versions
coverage
.history/*

# Ionic y Capacitor
/.ionic
/www
/platforms
/plugins

# Capacitor y Android Studio
android/local.properties
android/.gradle
android/.idea
android/build
android/app/build

# Angular
/dist
/tmp
/out-tsc
/.angular/cache
/.angular/cache/*

# Node.js y npm/yarn
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDEs y editores
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros archivos sensibles
.env
*.apk
*.aab
